body {
    font-family: 'Roboto', sans-serif;
    font-size: 14px;
}

.row {
    display: flex;
    flex-wrap: nowrap;
}

.column {
    flex: 1 0 250px;
    margin: 0 10px;
}

.column__inner {
    background: #eee;
    padding: 10px;
    border-radius: 3px;
}

.card {
    padding: 10px;
    background: #fff;
    border-radius: 3px;
}

.card:not(:last-child) {
    margin-bottom: 10px;
}

.card__title {
    font-size: 18px;
}

.meta {
    font-size: 12px;
    color: #848484;
}

.loader {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 2;
}
.loader img {
    width: 64px;
    height: 64px;
}