.card
    $this: &

    position: relative
    padding: 10px
    background: #fff
    border-radius: 3px
    border-bottom: 1px solid #ccc
    transition: opacity .3s, transform .3s
    &.disabled
        cursor: progress
        opacity: .8
        transform: scale(0.97)
        #{$this}
            &__btn
                opacity: 1
                transform: scale(1) rotate(-90deg)
                color: #d32322

    &.waiting
        cursor: progress
        opacity: .5
    &:not(:last-child)
        margin-bottom: 10px
    &__title
        font-size: 18px
    &__button
        position: absolute
        top: 0px
        right: 0px
        width: 30px
        height: 30px
        background: none
        opacity: .7
        transform: scale(0.8)
        transition: opacity .3s, transform .3s, color .3s
        &:disabled
            cursor: not-allowed
        &:hover:not(:disabled)
            opacity: 1
            transform: scale(1) rotate(-90deg)
            color: #d32322
        .fa
            font-size: 22px